:root {
  --border-base: 1px solid;
  --color-danger: #f87171;
  --color-danger-50: #fef2f2;
  --color-danger-100: #fee2e2;
  --color-grey-50: #fafafa;
  --color-grey-100: #f5f5f5;
  --color-grey-200: #e5e5e5;
  --color-grey-300: #d4d4d4;
  --color-light-0: #ffffff;
  --color-primary: #60a5fa;
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-200: #bfdbfe;
  --color-primary-300: #93c5fd;
  --radius-base: 0.375rem;
  --text-color-dark: #323232;
  --text-color-light: #fcfcfc;
}
